body {
  height: 100vh;
  border: solid 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

#emoji {
  font-size: 10rem;
  filter: grayscale(1); /*black and white */
  cursor: pointer;
  transition-property: transform, filter;
  transition-duration: 200ms;
}

#emoji:hover {
  transform: scale(1.3);
  filter: grayscale(0);
}
